{% extends "main.html" %}

{% block extrahead %}
  {{ super() }}
  <link rel="stylesheet" href="{{ 'stylesheets/home.css' | url }}">
{% endblock %}

{% block content %}
<div class="a11yst-landing">
  {% include "partials/home/hero.html" %}
  {% include "partials/home/workflow.html" %}
  {% include "partials/home/why.html" %}
  {% include "partials/home/getting-started.html" %}
  {% include "partials/home/community.html" %}
</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ 'javascripts/home.js' | url }}" defer></script>
{% endblock %}
